header a {
  color: inherit;
}

.body {
  min-height: 800px;
}

.categories-nav {
  padding: 20px 0;
}

article {
  margin: 50px 0;
  padding: 25px 0;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.post-image img {
  width: 100%;
}

.publication-date {
  color: gray;
}

.footer {
  background-color: rgb(230, 230, 230);
  text-align: center;
  padding: 20px 0;
}
